{
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "css",
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx"],
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }]
}
