@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./_components.css";

@import "tailwindcss/utilities";

/* https://www.realtimecolors.com/?colors=e5faf5-041612-86eed4-571599-cabc63&fonts=Poppins-Poppins */

:root {
  color-scheme: dark;
  /* --text: 161 86% 94%; */
  --text: 166 68% 94%;
  /* --background: 167 85% 8%; */
  --background-lighter-10: 167 69% 15%;
  --background: 167 69% 5%;
  --primary-lighter-10: 165 76% 83%;
  --primary: 165 76% 73%;
  --primary-darker-10: 165 76% 63%;
  --secondary-lighter-10: 270 76% 44%;
  --secondary: 270 76% 34%;
  --secondary-darker-10: 270 76% 24%;
  --accent-lighter-10: 52 49% 69%;
  --accent: 52 49% 59%;
  --accent-darker-10: 52 49% 49%;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: hsl(var(--background));
  color: hsl(var(--text));
}

html {
  height: 100%;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[data-nav-skip-link] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  padding: 0;
  color: white;
}
[data-nav-skip-link]:hover {
  color: rgb(203 213 225);
}
[data-nav-skip-link]:focus {
  clip: auto;
  position: fixed;
  top: 0.25rem;
  left: 0.25rem;
  z-index: 10;
  height: auto;
  width: auto;
  padding: 0.75rem;
  background-color: rgb(75, 85, 99);
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: "Fira Code VF";
  font-weight: 300 700;
  font-style: normal;
  src:
    url("/fonts/FiraCode-VF.woff2") format("woff2-variations"),
    url("/fonts/FiraCode-VF.woff") format("woff-variations");
}

.font-mono {
  font-variant-ligatures: none;
}
