---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true || import.meta.env.DEV;
});
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout title="Blog Tag Index" description="All Post Tags">
  <main class="bs-container-md mt-16 grow scroll-mt-16">
    <section class="my-8 grid items-center md:grid-cols-2">
      <div data-heading>
        <h1
          class="mb-5 text-center text-4xl font-semibold max-md:mb-4 sm:text-5xl md:text-left lg:text-6xl"
        >
          Tags
        </h1>
      </div>
      <div data-description>
        <p class="mb-2 lg:text-lg lg:leading-6">
          By clicking on one of the tags below, you can find a subset of all posts that contain that
          tag.
        </p>
        <p class="lg:text-lg lg:leading-6">
          Tags in this case, are keywords that help classify a blog post's content
        </p>
      </div>
    </section>
    <section class="relative inline-flex flex-wrap gap-2">
      {
        uniqueTags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            tabindex="0"
            role="button"
            class:list={["tag", tag, "font-bold"]}
          >
            {tag}
          </a>
        ))
      }
    </section>
  </main>
</BaseLayout>

<style>
  .tag {
    @apply inline-block select-none rounded-md border border-neutral-600 bg-neutral-600 px-3 py-1.5 align-middle text-xl text-white transition-colors duration-200 hocus:border-neutral-700 hocus:bg-neutral-700 hocus:text-white lg:text-2xl;
  }

  .react {
    @apply border-gray-800 bg-gray-800 text-sky-500 hocus:border-gray-900 hocus:bg-gray-900;
  }

  .nextjs {
    @apply border-black bg-black text-white hocus:border-stone-900 hocus:bg-stone-900;
  }

  .javascript {
    @apply border-yellow-400 bg-yellow-400 text-black hocus:border-yellow-500 hocus:bg-yellow-500;
  }

  .typescript {
    @apply border-blue-600 bg-blue-600 text-white hocus:border-blue-700 hocus:bg-blue-700;
  }

  .css {
    @apply border-pink-400 bg-pink-400 text-black hocus:border-pink-300 hocus:bg-pink-300;
  }

  .svelte {
    @apply border-orange-700 bg-orange-700 text-white hocus:border-orange-600 hocus:bg-orange-600;
  }
</style>
