---
import Layout from "../layouts/Base.astro";
---

<Layout title="Page Not Found" navTitle="SamTheQ Blog" description="This is a blog" slug="404">
  <main class="mx-auto mt-32 min-h-full w-full max-w-4xl grow scroll-mt-16 px-3">
    <section
      class="prose prose-invert max-w-none grow text-center prose-headings:scroll-mt-16 lg:prose-xl"
    >
      <h1>404: Not Found</h1>
      <p>Couldn't find what you were looking for :(</p>
    </section>
  </main>
</Layout>
