---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found" description="Samuel Quinones' Personal Blog" canonicalURL={null}>
  <main
    id="stq-page-content"
    class="container mt-32 max-w-full grow scroll-mt-16 md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl"
  >
    <section
      class="prose prose-invert max-w-none grow text-center lg:prose-xl prose-headings:scroll-mt-16"
    >
      <h1>404: Not Found</h1>
      <p>Couldn't find what you were looking for :(</p>
    </section>
  </main>
</BaseLayout>
