---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="About | SamTheQ Blog" description="About me / the blog">
  <main id="stq-page-content" class="bs-container-md mt-16 max-w-[52rem] grow scroll-mt-16">
    <h1 class="mb-4 mt-4 text-3xl font-semibold tracking-tight sm:text-4xl lg:mb-6 lg:text-5xl">
      About The Blog
    </h1>
    <div class="md:text-lg">
      <p class="mb-3 md:mb-5">
        I'll write posts about anything that generally interests me; development, keyboards,
        personal thoughts / ramblings, and I'm sure a bunch more!
      </p>
      <p class="mb-3 md:mb-5">
        Each post also contains tags used to help classify them. By clicking on one of the tag
        buttons on a post card, you can find a subset of all posts that contain that tag.
      </p>
      <p class="mb-3 md:mb-5">
        Or, you can see all tags by clicking <em class="font-bold">Filter By Tag</em> in the navbar!
        This will take you to a different page.
      </p>
      <p>
        You can see a brief summary of each post on the <a
          class="font-medium text-blue-400 no-underline transition-colors hocus:text-blue-500"
          href="/">main page</a
        >, be sure to click on "Read More" to view the full article.
      </p>
    </div>
  </main>
</BaseLayout>
