---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

export interface Props {
  name: string;
  avatar?: CollectionEntry<"author">["data"]["avatar"];
}

const { name, avatar } = Astro.props;
---

<div class="flex items-center gap-x-2">
  {
    avatar ? (
      <Image src={avatar} height={42} width={42} alt={`${name} Avatar`} class="rounded-full" />
    ) : (
      <span class="h-[42px] w-[42px] rounded-full bg-gray-500 p-1.5 text-3xl/none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          fill="currentColor"
          class="inline-block"
          style="vertical-align: -0.125em;"
          viewBox="0 0 16 16"
        >
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
        </svg>
      </span>
    )
  }
  <span class="leading-none">{name}</span>
</div>
