---
import type { HTMLAttributes } from "astro/types";
import clsx from "clsx";

export interface Props extends HTMLAttributes<"a"> {
  highlightNested?: boolean;
}
const { href, class: className, highlightNested = false, ...attrs } = Astro.props;

const active = highlightNested
  ? `/${Astro.url.pathname.split("/")[1]}` === href
  : Astro.url.pathname === href;
const classList = clsx("nav-link", { active }, className);
---

<a href={href} class={classList} {...attrs}>
  <slot />
</a>
